# Python cache
__pycache__/
*.pyc

# Virtual env 
venv/
env/

# SQLite
*.db

# Variables de entorno
.env

# VS Code
.vscode/

# Windows
Thumbs.db

__pycache__/
*.pyc
instance/*.db
venv/
.env
.DS_Store