{% extends 'base.html' %} 
{% block title %} Consultas | Editar {% endblock %} 
{% block content %}

<section class="section">
    <div class="container">

        <h1 class="title has-text-centered ">Actualizacion de consulta</h1>
       
        <form action="{{ url_for('consulta.edit',id_consulta=consulta.id_consulta) }}"method="POST">
            <!-- Paciente --> 
            <div class="field">
                    <label class="label">Paciente</label>
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select name="id_paciente" required>
                                <option value="">Seleccione un paciente</option>
                                    {% for paciente in pacientes %}
                                        <option value="{{paciente.id_paciente}}" {% if paciente.id_paciente== consulta.id_paciente %} selected {% endif %}>{{paciente.nombre}}</option>
                                    {% endfor%}
                            </select>
                        </div>
                    </div>
            </div>
                
             <!-- Medico -->
            <div class="field">
                <label class="label">Medico</label>
                <div class="control">
                    <div class="select is-fullwidth">
                        <select name="id_medico"  required>
                            <option value="">Seleccione un medico </option>
                                {% for medico in medicos %}
                                    <option value="{{medico.id_medico}}"  {% if medico.id_medico== consulta.id_medico %} selected {% endif %}>{{medico.nombre}}</option>
                               {% endfor%}
                         </select>
                    </div>
                </div>
            </div>
                

             <!-- Fecha -->
            <div class="field">
                <label class="label">Fecha</label>
                <div class="control">
                    <input class="input" type="datetime-local" name="fecha" value="{{consulta.fecha.strftime('%Y-%m-%d')}}" required>
                </div>
            </div>

            <!-- Diagnóstico -->
            <div class="field">
                <label class="label">Diagnóstico</label>
                <div class="control">
                    <textarea class="textarea" name="diagnostico" value="{{consulta.diagnostico}}" required></textarea>
                </div>
            </div>
            <!-- Tratamiento -->
            <div class="field">
                <label class="label">Tratamiento</label>
                <div class="control">
                    <textarea class="textarea" name="tratamiento" value="{{consulta.tratamiento}}" required ></textarea>
                </div>
            </div>
            
            <!-- Botones -->
            <!--<button type="submit" class="button is-primary">Actualizar Consulta</button>-->
            <!-- Botones -->
                <div class="field is-grouped is-justify-content-center mt-5">

                    <div class="control">
                        <button type="submit" class="button is-primary">
                            Actualizar Consulta
                        </button>
                    </div>
                    <div class="control">
                        <a href="{{ url_for('consulta.index') }}" class="button is-light">
                            Cancelar
                        </a>
                    </div>

                </div>

         
        </form>

    </div>
</section>

{% endblock %}
